<template>
  <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="12" class="text-center">
            <router-link class="linktxt" :to="{name: 'register'}">
              <v-img class="logo" src="../assets/logo.png"></v-img>
            <p class="mt-5">Klik hier om je te registreren!</p>
            </router-link>
          </v-col>
        </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'home',
  components: {

  }
}
</script>

<style>
.logo {
  margin: 0 auto;
  width: 600px;
}

a.linktxt {
  text-decoration: none;
  color: #000 !important;
}

a.linktxt:hover {
  text-decoration: underline;
}
</style>
