<template>
<div>
    <v-container>
    <v-row>
      <v-col cols="6" sm="6">
        <h1>All The Above Academy</h1>
      </v-col>
      <v-col cols="6" sm="6" class="text-right mt-4">
        <a @click="openContact">Contact</a>
      </v-col>
      <v-col cols="12" sm="12">
        <p @click="openTarieven" class="tarieven-titel clickEl">Bekijk hier onze tarieven</p>
        <p class="register-text">
          Tof dat je deel gaat uit maken van onze All The Above familie! We zien je graag bij onze lessen! Vul
          het
          formulier hieronder volledig in! Lees onze <span class="clickEl" @click="openAgreement"><strong>algemene voorwaarden</strong> en <strong>privacy policy</strong></span> voordat je het
          formulier gaat
          invullen.
        </p>
      </v-col>
      <v-col cols="12" sm="12">
        <v-radio-group v-model="row" row>
          <v-radio color="black" label="Dans" value="dance"></v-radio>
          <v-radio color="black" label="Zang" value="sing"></v-radio>
        </v-radio-group>
      </v-col>
      <v-col v-if="row === 'dance'" cols="12" sm="12">
        <span>Dans</span>
        <DanceRegister/>
      </v-col>
      <v-col v-if="row === 'sing'" cols="12" sm="12">
        <span>Zang</span>
        <SingRegister/>
      </v-col>
    </v-row>
  </v-container>
  <ContactForm v-model="contactDialog"/>
  <AgreementDialog v-model="agreementDialog"/>
  <TarievenDialog v-model="tarievenDialog"/>
</div>
</template>

<script>
import DanceRegister from '../components/DanceRegister'
import SingRegister from '../components/SingRegister'
import ContactForm from '../components/ContactForm'
import AgreementDialog from '../components/AgreementDialog'
import TarievenDialog from '../components/TarievenDialog'

  export default {
    components: {
      DanceRegister,
      SingRegister,
      ContactForm,
      AgreementDialog,
      TarievenDialog
    },
    data () {
      return {
        contactDialog: false,
        agreementDialog: false,
        tarievenDialog: false,
        row: 'dance',
      }
    },
    methods: {
      openAgreement () {
        this.agreementDialog = true
      },
      openTarieven () {
        this.tarievenDialog = true
      },
      openContact () {
        this.contactDialog = true
      }
    }
  }
</script>