<template>
  <v-dialog persistent width="700px" v-model="dialogState">
    <v-card class="my-dialog">
      <v-toolbar class="elevation-0">
        <v-toolbar-title class="text-h5 text-uppercase">
          Contact
        </v-toolbar-title>
      </v-toolbar>
      <v-card-text class="text-body2 v-mt-md">
        hier een form
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn depressed @click="goToHome"> Annuleren </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  model: {
    prop: 'dialog',
    event: 'dialog'
  },
  props: {
    dialog: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      dialogState: this.dialog
    }
  },
  watch: {
    dialog (val) {
      this.dialogState = val
    },
    dialogState (val) {
      this.$emit('dialog', val)
    }
  },
  methods: {
    goToHome () {
    this.dialogState = false
    }
  }
}
</script>

<style>

</style>
