<template>
    <div>
        <v-form ref="registerForm" @submit.prevent="save">
        <v-row>
            <v-col cols="12" sm="12">
                <strong><span>Algemene gegevens</span></strong>
            </v-col>
            <v-col cols="12" sm="4">
                <v-text-field dense v-model="user.firstname" :rules="nameRules" label="Voornaam" required>
                </v-text-field>
            </v-col>
            <v-col cols="12" sm="4">
                <v-text-field dense v-model="user.lastname" :rules="lastNameRules" label="Achternaam" required>
                </v-text-field>
            </v-col>
            <v-col cols="12" sm="4">
                <v-menu ref="menu" v-model="menu1" :close-on-content-click="false" max-width="290">
                    <template v-slot:activator="{ on }">
                        <v-text-field prepend-icon="mdi-calendar" dense :value="computedDateFormattedMomentjs" clearable
                            label="Geboortedatum" readonly v-on="on" @click:clear="user.birthDate = null">
                        </v-text-field>
                    </template>
                    <v-date-picker ref="picker" :show-current="false" max="2014-12-31" :allowed-dates="allowedDates"
                        v-model="user.birthDate" @change="menu1 = false"></v-date-picker>
                </v-menu>
            </v-col>
            <v-col cols="12" sm="4">
                <v-text-field dense v-model="user.city" :rules="cityRules" label="Woonplaats" required>
                </v-text-field>
            </v-col>
            <v-col cols="12" sm="4">
                <v-text-field dense v-model="user.address" :rules="addressRules" label="Adres + huis nr" required>
                </v-text-field>
            </v-col>
            <v-col cols="12" sm="4">
                <v-text-field dense v-model="user.postalCode" :rules="postalCodeRules" label="Postcode" required>
                </v-text-field>
            </v-col>
            <v-col cols="12" sm="4">
                <v-text-field dense v-model="user.email" :rules="emailRules" label="Email" required>
                </v-text-field>
            </v-col>
            <v-col cols="12" sm="4">
                <v-text-field dense v-model="user.phoneNumber" :rules="phoneNumberRules" label="Telefoon nr" required>
                </v-text-field>
            </v-col>
            <v-col cols="12" sm="12">
                <strong><span>Lessen</span></strong>
            </v-col>
            <v-col cols="12" sm="6">
                <v-menu v-model="menu2" :close-on-content-click="false" max-width="290">
                    <template v-slot:activator="{ on }">
                        <v-text-field prepend-icon="mdi-calendar" dense :value="computedStartdate" clearable
                            label="Start datum" readonly v-on="on" @click:clear="user.startDate = null"></v-text-field>
                    </template>
                    <v-date-picker min="2020-01-01" :allowed-dates="allowedStartDates" v-model="user.startDate"
                        @change="menu2 = false"></v-date-picker>
                </v-menu>
            </v-col>
            <v-col cols="12" sm="6">
                <v-select dense :items="danceCourseOptions" label="Kies een dans les" v-model="user.danceCourse">
                </v-select>
            </v-col>
            <v-col cols="12" sm="12">
                <v-radio-group v-model="paymentOptions" row>
                    <v-radio color="black" label="Automatische incasso" value="automaticPayment"></v-radio>
                    <v-radio color="black" label="Stichting" value="paymentFoundation"></v-radio>
                </v-radio-group>
            </v-col>
            <v-col v-if="paymentOptions == 'automaticPayment'" cols="12" sm="12">
                <v-row no-gutters>
                    <v-col cols="12" sm="12">
                        <v-switch inset v-model="user.familyDiscount" label="Familiekorting?"></v-switch>
                    </v-col>
                    <v-col cols="12" sm="12">
                        <strong><span>Automatische incasso</span></strong>
                    </v-col>
                    <v-col cols="12" sm="6" md="6">
                        <v-row>
                            <v-col cols="12" sm="12">
                                <v-text-field dense v-model="user.payment.fullname" :rules="nameRules"
                                    label="Naam Rekeninghouder" required>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12">
                                <v-menu v-model="menu3" :close-on-content-click="false" max-width="290">
                                    <template v-slot:activator="{ on }">
                                        <v-text-field prepend-icon="mdi-calendar" dense :value="computedPaymentDate"
                                            clearable label="Machtigingsdatum" readonly v-on="on"
                                            @click:clear="user.payment.automaticPaymentDate = null"></v-text-field>
                                    </template>
                                    <v-date-picker min="2020-01-01" :allowed-dates="allowedPaymentDates"
                                        v-model="user.payment.automaticPaymentDate" @change="menu3 = false">
                                    </v-date-picker>
                                </v-menu>
                            </v-col>
                            <v-col cols="12" sm="6">
                                <v-text-field dense v-model="user.payment.iban" :rules="ibanRules" label="IBAN"
                                    required>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6">
                                <v-text-field dense v-model="user.payment.paymentEmail" :rules="emailRules"
                                    label="Email" required>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12">
                                <v-text-field dense v-model="user.payment.paymentAddress" :rules="addressRules"
                                    label="Adres" required>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6">
                                <v-text-field dense v-model="user.payment.paymentPostalCode" :rules="postalCodeRules"
                                    label="Postcode" required>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6">
                                <v-text-field dense v-model="user.payment.city" :rules="cityRules" label="Woonplaats"
                                    required>
                                </v-text-field>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" sm="6" md="6" class="sig">
                        <v-row>
                            <v-col cols="12" sm="12">
                                <span class="ml-3 err-msg">{{errMsg}}</span>
                                <VueSignaturePad class="ml-sm-2 mr-sm-2" id="signature" width="100%" height="300px"
                            ref="dancesignaturePad" />
                            </v-col>
                            <v-col cols="12" sm="12" class="text-right rst">
                                <v-btn depressed fab dark small @click="undo"><v-icon dark>mdi-minus</v-icon></v-btn>
                            </v-col>
                        </v-row>
                             
                    </v-col>
                </v-row>
            </v-col>
            <v-col v-if="paymentOptions == 'paymentFoundation'" cols="12" sm="12">
                <v-select :rules="stichtingRules" dense :items="paymentFoundationOptions" label="Kies een stichting"
                    v-model="user.paymentFoundation">
                </v-select>
            </v-col>
            <v-col cols="12" sm="12" md="12" class="text-right">
                <v-btn block depressed color="black" outlined type="submit">Inschrijven</v-btn>
            </v-col>
        </v-row>
    </v-form>
    <RegistrationCompleted v-model="dialog" :dataMsg="message"/>
    </div>
</template>

<script>
import User from '../models/User'
import moment from 'moment'
import { format } from 'date-fns'
import ApiService from '../services/api.service'
import RegistrationCompleted from '../components/RegistrationCompletedDialog'

export default {
    components: {
        RegistrationCompleted
    },
    data() {
        return {
            dialog: false,
            user: User,
            paymentOptions: 'automaticPayment',
            nameRules: [
                v => !!v || 'Voornaam is verplicht'
            ],
            stichtingRules: [
                v => !!v || 'Het is verplicht om een stichting te kiezen'
            ],
            lastNameRules: [
                v => !!v || 'Achternaam is verplicht'
            ],
            lastNameRules: [
                v => !!v || 'Achternaam is verplicht'
            ],
            cityRules: [
                v => !!v || 'Woonplaats is verplicht'
            ],
            addressRules: [
                v => !!v || 'Adres is verplicht'
            ],
            postalCodeRules: [
                v => !!v || 'Postcode is verplicht'
            ],
            emailRules: [
                v => !!v || 'Email is verplicht'
            ],
            phoneNumberRules: [
                v => !!v || 'Telefoon nr is verplicht'
            ],
            ibanRules: [
                v => !!v || 'IBAN is verplicht'
            ],
            menu1: false,
            menu2: false,
            menu3: false,
            message: '',
            errMsg: '',
            danceCourseOptions: [
                'Hiphop Kids 6 - 8 jr',
                'Hiphop Kids 9 - 11 jr',
                'Hiphop Junioren 12 - 15 jr',
                'Hiphop Adults 16 - 30 jr',
                'Hiphop Ladies 30+',
                'Selectie Hiphop',
                'Selectie Hiphop Kids',
                'Breakdance Kids 6 - 11 jr',
                'Breakdance Teens 12+',
                'Dancehall 16+',
                'Heels Class 16+',
                'Combi Les | 2 lessen',
                'Triple Les | 3 lessen',
                'Allround | Alle lessen',
                'Groepsles zang & één dansles naar keuze',
                'Talentclass & één dansles naar keuze',
            ],
            paymentFoundationOptions: ['Stichting Leergeld', 'Stichting Rechtop'],
        }
    },
    computed: {
        computedDateFormattedMomentjs() {
            return this.user.birthDate ? moment(this.user.birthDate).locale('nl-NL').format('dddd, D MMMM YYYY') : ''
        },
        computedStartdate() {
            return this.user.startDate ? moment(this.user.startDate).locale('nl-NL').format('dddd, D MMMM YYYY') : ''
        },
        computedPaymentDate () {
            return this.user.payment.automaticPaymentDate ? moment(this.user.payment.automaticPaymentDate).locale('nl-NL').format('dddd, D MMMM YYYY') : ''
        }
    },
    methods: {
        allowedDates(val) {
            var res = val.split(/-/);

            var jaar = res[0];
            var maand = res[1];
            var dag = res[2];
            var date = new Date
            var year = date.getFullYear()
            var limit = (year - 5)

            if (+jaar >= limit) {
                console.log('Jaartal is te groot of te klein');
                return false;
            }
            return true;
        },
         allowedStartDates(val) {
            var res = val.split(/-/);

            var jaar = res[0];
            var maand = res[1];
            var dag = res[2];

            var date = new Date
            var year = date.getFullYear()
            var limit = (year - 1)

            if (+jaar <= limit) {
                console.log('Jss');
                return false;
            }
            return true;
        },
        allowedPaymentDates(val) {
            var res = val.split(/-/);

            var jaar = res[0];
            var maand = res[1];
            var dag = res[2];

            var date = new Date
            var year = date.getFullYear()
            var limit = (year - 1)

            if (+jaar <= limit) {
                console.log('Jss');
                return false;
            }
            return true;
        },
        undo () {
      this.$refs.dancesignaturePad.undoSignature()
      this.errMsg = ''
    },
    save () {
  switch (this.paymentOptions) {
      case 'automaticPayment':
          this.user.paymentFoundation = ''
          const {
              isEmpty,
              data
          } = this.$refs.dancesignaturePad.saveSignature()
          console.log(isEmpty)
          //   console.log(data)
          console.log(this.$refs.registerForm.validate())
          this.user.payment.signature = data
          this.user.singCourse = ''
          if(this.$refs.registerForm.validate()){
              if(!isEmpty){
                ApiService.register(this.user).then(result => {
                    this.message = result.message
                    this.dialog = true
                    this.errMsg = ''
                    this.$refs.registerForm.reset()
                    this.user.birthDate = ''
                    this.user.startDate = ''
                    this.user.payment.automaticPaymentDate = ''
                })
              } else {
                  this.errMsg = 'Handtekening is verplicht.'
              }
          }
          break
      case 'paymentFoundation':
          this.user.payment.fullname = ''
          this.user.payment.automaticPaymentDate = ''
          this.user.payment.iban = ''
          this.user.payment.paymentAddress = ''
          this.user.payment.city = ''
          this.user.payment.paymentPostalCode = ''
          this.user.payment.paymentEmail = ''
          this.user.payment.signature = ''
          this.user.familyDiscount = false
          this.user.singCourse = ''
          if(this.$refs.registerForm.validate()){
            ApiService.register(this.user).then(result => {
              this.message = result.message
              this.dialog = true
              this.errMsg = '' 
              this.$refs.registerForm.reset()
              this.user.birthDate = ''
              this.user.startDate = ''
              this.user.payment.automaticPaymentDate = ''
            })
          }
          break
     default:
         console.log('ok')
  }
    }

     
    }
}
</script>