
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');


.register__form {
    justify-content: center;

}

.goTop {
    border-radius: 5px;
    background-color: rgb(1,14,27);
    background-color: rgba(1, 14, 27, .7);
    position: fixed;
    width: 45px;
    height: 45px;
    display: block;
    right: 15px;
    bottom: 15px;
    border: none;
    opacity: 0;
    z-index: -1;
    .fa {
      color: white;
      font-size: 22px;
    }
    &:hover {
      opacity: 1;
      background-color: rgb(1,14,27);
      background-color: rgba(1, 14, 27, .9);
    }
  }
  
  .isVisible {
    opacity: .8;
    z-index: 4;
    transition: all .4s ease-in;
  }

  #signature {
  border: solid 3px #000;
  border-radius: 5px;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.logo {
  width: 50%;
}

.courses {
  margin-bottom: 1rem;
}

.register-subtitle {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: 60px;
}

.tarieven-titel {
  font-family: 'Open Sans';
  font-weight: 700;
}

.register-text {
  margin-top: 15px;
  font-family: 'Open Sans';
  font-weight: 400;
}

.course-titel {
  font-family: 'Open Sans';
  font-size: 20px;
  text-transform: uppercase;
}
.course-list {
  margin-top: 25px;
}

.btn-reg {
  margin-top: 25px;
  margin-bottom: 25px;
}





@media screen and (max-width: 425px){
  .img-responsive {
  width: 70%;
  }

  .desktop-content {
    display: none !important;
  }

  .rst {
    position: absolute;
    bottom:1em !important;
    right: 0em !important;
  }
}

.sig {
  position: relative;
}

.rst {
  position: absolute;
  bottom:2em;
  right: -.7em;
}

.err-msg {
  color:rgb(141, 8, 8);
  font-size: 14px;
  
}

@media screen and (max-width: 768px){ 
  .rst {
    position: absolute;
    bottom:3em;
    right: -.7em;
  }
}

.clickEl {
  cursor: pointer;
}